<!-- <h2>Países</h2>
<hr>

<ul class="list-group">
  <li
    routerLink = "countries/by-capital"
    routerLinkActive="active"
    class="list-group-item">
    Por Capital
  </li>
  <li
    routerLink = "countries/by-country"
    routerLinkActive="active"
    class="list-group-item">
    Por Pais
  </li>
  <li
    routerLink = "countries/by-region"
    routerLinkActive="active"
    class="list-group-item">
    Por Region
  </li>

</ul> -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="countries/by-capital">SUNARP-UTI</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <select id="comboBox" name="accesos" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false" (change)="cambiarRuta($event)">
            <option value="uti/usuarios/lista" style="color: black;">USUARIOS</option>
            <option value="uti/accesos/creacion-mda" style="color: black;">DIRECTORIO</option>
            <option value="uti/accesos/by-region" style="color: black;">VACACIONES</option>
          </select>
        </li>
        <li class="nav-item dropdown">
          <select id="comboBox" name="accesos" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false" (change)="cambiarRuta($event)">
            <option value="" disabled selected>ACCESOS</option>
            <option value="uti/accesos/creacion-mda" style="color: black;">CREACIÓN</option>
            <option value="uti/accesos/by-country" style="color: black;">CARGO</option>
            <option value="uti/accesos/by-region" style="color: black;">ALMACEN</option>
          </select>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="-">ACTUALIZACIONES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:57074/" target="_blank" tabindex="-1" aria-disabled="true">OTROS</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
